.node-by-term-form {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  margin-block: var(--space-l);
  padding: var(--space-xs) var(--space-l) var(--space-l) var(--space-l);
  border: var(--details-border-size) solid var(--details-border-color);
  border-radius: var(--details-border-size-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);
  padding-top: 20px;
}
.form-item--term {
  width: 124px;
}
.form-item {
  max-width: 100%;
  margin-block: var(--space-s) 0;
  margin-inline: 0 var(--space-xs);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.form-item--vocabulary {
  width: 286px;
}
.button {
  margin-top: 25px !important;
  margin-left: 12px !important;
}
.btn:hover {
  color: var(--bs-btn-hover-color) !important;
  background-color: var(--bs-btn-hover-bg) !important;
  border-color: var(--bs-btn-hover-border-color) !important;
}
